<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>fans</title>
  <link rel='stylesheet' href='/stylesheets/styles.css'>
</head>
<body>
  <%= yield %>
  <script src='/javascripts/jquery.js'></script>
  <script src='/javascripts/scripts.js'></script>
</body>
</html>
